* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/PokeFight-Background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Searchbar */
form.day {
  padding: 0;
}

form.night {
  padding: 0;
}

.searchbar {
  padding: 10px;
  border: solid #c8ccd0 1px;
  border-radius: 3px 0px 0px 3px;
  -webkit-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
  border-right: 0;
}

.searchbar.night,
.searchbar.night::placeholder {
  background: #212529;
  color: #fff;
  border: 0;
}

.searchbar:focus {
  outline: none;
  border-color: #6c757d;
  box-shadow: 0 0 10px #6c757d;
}

.searchbar:hover {
  border-color: #6c757d;
  box-shadow: 0 0 10px #6c757d;
}

.search-icon-container {
  background-color: #eaecee;
  color: #6c757d;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.search-icon-container:hover {
  color: #191919;
}

span.night {
  background: #212529;
  border: 0;
}

.iconNight {
  color: #fff;
}

.colFilter {
  color: #6c757d;
  background: #fff;
  border-color: #6c757d;
  padding: 5px 5px;
}

.colFilter:hover {
  box-shadow: 0 0 10px #6c757d;
}

.colFilter.night {
  color: #ccc;
  background: #212529;
  border: 0;
  padding: 5px 5px;
}

/* Toggler Day and Night */
.toggle {
  height: 30px;
  width: 80px;
  border-radius: 50px;
  background-image: linear-gradient(aqua, skyblue);
  position: relative;
  cursor: pointer;
}

.toggle.night {
  background-image: linear-gradient(midnightblue, rebeccapurple);
}

.notch {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: yellow;
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: 0 0 5px yellow;
  z-index: 1;
  transition: all 0.3s ease;
}

.notch > .crater {
  background: burlywood;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4) inset;
}

.night .crater {
  opacity: 0.4;
}

.crater:first-child {
  left: 2px;
  top: 5px;
  height: 5px;
  width: 10px;
  transform: rotate(-45deg);
}

.crater:last-child {
  left: 15px;
  top: 5px;
  height: 5px;
  width: 6px;
  transform: rotate(45deg);
}

.night > .notch {
  background: whitesmoke;
  box-shadow: 0 0 5px whitesmoke;
  transform: translate(50px, 0);
}

.shape {
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
}

.shape.sm {
  height: 3px;
  width: 13px;
  top: 50%;
  left: 65%;
  transition: all 0.3s ease;
}

.shape.md {
  height: 5px;
  width: 25px;
  top: 15%;
  left: 15%;
  z-index: 2;
}

.shape.lg {
  height: 8px;
  width: 35px;
  top: 60%;
  left: 20%;
}

.night .shape {
  background: lightgrey;
  box-shadow: 0 0 10px 2px violet;
}

.night .shape.sm {
  height: 3px;
  width: 3px;
  transform: translate(-20px, 0);
}

.night .shape.sm:first-of-type {
  transform: translate(-40px, -7px);
}

.night .shape.md {
  height: 5px;
  width: 5px;
  transform: translate(10px, 0);
}

.night .shape.lg {
  height: 8px;
  width: 8px;
  transform: translate(-5px, 0);
}

/* Pokemon Cards */
.pokeCard {
  flex: 0 1 19%;
  min-width: 230px;
  opacity: 0.8;
}

.pokeCard.night {
  background: black;
  color: #fff;
}

.pokeImg {
  height: 200px;
}

.icon {
  width: 20px;
  margin-left: 5px;
}

.progressBar {
  width: 90%;
}

/* FightCards */
.moodCard {
  background-color: transparent;
  flex: 0 1 19%;
  min-width: 230px;
}

.moodImg {
  width: 50%;
  margin: 0 auto;
}

/* Pagination */
.paginationBtns {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #212529;
  list-style: none;
  opacity: 0.8;
}

.paginationBtns a {
  text-decoration: none;
  background-color: #fff;
  color: #212529;
  padding: 5px 10px;
  margin: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.paginationBtns a:hover {
  background-color: #212529;
  color: #fff !important;
}

.previousBtns {
  color: #fff;
}

.nextBtn a {
  background-color: transparent;
}

.paginationDisabled a,
.paginationDisabled a:hover {
  background-color: #fff;
  color: #ccc;
  border: 0;
  cursor: default;
}

.paginationActive {
  color: #fff;
}

.paginationActive a {
  color: #fff;
  background-color: #212529;
}

/* Footer */
footer {
  opacity: 0.8;
  height: 300px;
}

footer.day {
  background: #fff;
}

footer.night {
  background: #212529;
}

.logo-img {
  max-height: 200px;
}
